.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #D9F0F875;
    position: absolute;
    top: 0;
    left: 0;
    gap: 20%;
}

.hero h1 {
    font-size: 64px;
    font-weight: bold;
    color: #DCA6BD;
    margin-bottom: 20px;
    font-family: 'Kalam';

}

.hero p {
    font-size: 18px;
    color: #427B88;
    margin-bottom: 20px;
    font-family: 'Kalam';
}

.hero button {
    font-size: 20px;
    background-color: #d3d3d3;
    color: #2D5050;
    padding: 30px 40px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    z-index: 10;
    margin-left: 400px;
    font-weight: bold;
}

.hero button:hover {
    background-color: #2D5050;
    color: #ffffff;
    transform: scale(1.05);
}


.hero .image {
    width: 30%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.booklist {
    margin-top: 100px;
    padding: 16px;
    width: 100%;
}

.home h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 48px;
    color: #082734;
}

.spacer {
    height: 700px;
}

.section {
    margin: 24px auto;
    padding: 16px;
    width: 90%;
    max-width: 1200px;
}

.authorsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px 0;
}

.authorBlock {
    position: relative;
    text-align: center;
    width: 450px;
    max-width: 500px;
    overflow: hidden;
}

.authorImage {
    width: 100%;
    border-radius: 70px;
    object-fit: cover;
    height: 500px;
}

.authorName {
    margin-top: 10px;
    font-size:  26px;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-family: 'Kalam';
}
