.list {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.noBooks {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    padding: 20px;
}
