.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.navbarList {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    gap: 300px;
}

.navbarList li a {
    text-decoration: none;
    color: #2D5050;
    font-weight: bold;
    font-size: 1rem;
}

.navbarList li a:hover {
    text-decoration: underline;
}

.navbarIconList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbarIconList li a {
    text-decoration: none;
    color: #2D5050;
    font-weight: bold;
    font-size: 1rem;
}

.navbarIconList li a:hover {
    text-decoration: underline;
}

.iconButton {
    margin: 0;
    color: #2D5050;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

