.login {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  background-image: url('/public/image/background.png');
  padding: 10px;
  background-color: #000000;
  border-radius: 30px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputGroupContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: #082734;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.button {
  padding: 0.7rem;
  width: 100%;
  background-color: #0000007e;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
  background-color: #000000;
}
