.pageTitle {
    text-align: center;
    margin: 32px auto 48px auto;
    font-size: 48px;
    font-weight: bold;
    color: #2C4D4D;
    width: 90%;
    max-width: 1200px;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: #D9D9D9;
    margin-bottom: 100px;
    border-radius: 30px;
}
.inside {
    padding: 50px 100px 100px 100px;
}

.hero h3 {
    color: #2C4D4D;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.hero h4 {
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
}

.hero ul {
    list-style-type: none;
    padding-left: 20px;
}

.hero li {
    margin-bottom: 16px;
}

.hero p {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.hero a {
    color: #007BFF;
    text-decoration: none;
}

.hero a:hover {
    text-decoration: underline;
}
.hero img {
    display: block; 
    margin-left: auto;
    margin-right: 0;
    max-width: 40%;
    border-radius: 10px
}